body {
  margin: 0;
}

.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.searchInput {
  width: 300px;
  padding: 12px;
  font-size: 18px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  gap: 15px;
}

button {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}